n8n.json
{
  "name": "Shadowlight.video",
  "nodes": [
    {
      "parameters": {},
      "id": "de65d0d8-13c9-4f10-8467-a6ed5b8606e9",
      "name": "CRON_8AM_GT",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        448,
        64
      ]
    },
    {
      "parameters": {
        "url": "https://drive.google.com/uc?export=download&id=1RXj_3txgmyX2Wyt9ZwM7l4axfi5A6EC-",
        "responseFormat": "file",
        "options": {}
      },
      "id": "46879c80-3578-4374-9a41-d3615a2f4e14",
      "name": "Descargar CSV",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        672,
        160
      ]
    },
    {
      "parameters": {
        "functionCode": "const load_date = new Date().toISOString().slice(0,10);\nconst source_file_name = 'ads_spend.csv';\n\nconst enriched = items.map(item => {\n  return {\n    ...item.json,\n    load_date,\n    source_file_name\n  };\n});\n\nreturn [\n  {\n    json: {\n      batch: enriched\n    }\n  }\n];\n"
      },
      "id": "e6fed201-4082-415d-adbb-7e21bb4287e1",
      "name": "Agregar Metadata",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1344,
        160
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://n8n-sqliteapi.zfrap0.easypanel.host/ingest",
        "jsonParameters": true,
        "options": {
          "timeout": 60000
        },
        "bodyParametersJson": "={{ $json[\"batch\"] }}"
      },
      "id": "ae70ddb7-5531-4f21-9e29-2a148835088f",
      "name": "Enviar a API (POST /ingest)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1792,
        160
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        448,
        256
      ],
      "id": "ebec4fbf-b4f8-4d52-bdee-6642ee6cf1b4",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "const size = 5000;\nconst input = $input.first().json.batch;\nconst batches = [];\n\nfor (let i = 0; i < input.length; i += size) {\n  const chunk = input.slice(i, i + size);\n  batches.push({ json: { batch: chunk } });\n}\n\nreturn batches;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        160
      ],
      "id": "0519165b-584c-424c-86ef-15557be97302",
      "name": "500 batch"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        896,
        160
      ],
      "id": "be0f9512-68e3-4c4c-a37e-acf1fe91df8d",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "return $('Extract from File').all().map(item => {\n  const r = item.json;\n\n  return {\n    json: {\n      ...r,\n      spend: Number(r.spend),\n      clicks: Number(r.clicks),\n      impressions: Number(r.impressions),\n      conversions: Number(r.conversions)\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        160
      ],
      "id": "4723a388-5f18-4fb1-a6a8-5bff6f05cb96",
      "name": "Strings to Numbers"
    }
  ],
  "pinData": {},
  "connections": {
    "CRON_8AM_GT": {
      "main": [
        [
          {
            "node": "Descargar CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar CSV": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agregar Metadata": {
      "main": [
        [
          {
            "node": "500 batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Descargar CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "500 batch": {
      "main": [
        [
          {
            "node": "Enviar a API (POST /ingest)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Strings to Numbers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Strings to Numbers": {
      "main": [
        [
          {
            "node": "Agregar Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "83a49c45-a1ed-461b-875a-ff77818843d1",
  "meta": {
    "instanceId": "7ded5bace7c810c76e74e34f720d897ff86fba76df250deb83fc26dff047d45b"
  },
  "id": "F8QHpRIrvTtmY4Gr",
  "tags": []
}